<!doctype html>
<html>
<head>
	<title>Demo Page</title>
</head>
<body>
	{{{body}}}
	
	<script src="/clientScript.js"></script>
	<form>
			<fieldset>
				<legend>Send stuff to HttpBinPost.org/post</legend>
				<label for = "ZIP">stuff</label>
				<input type="text" name="stuff" id="textStuff">
				<input type="submit" id="submitStuff">
			</fieldset>	
		</form>
		
		<div>
			<h2>The Stuff they sent back</h2>
		    <span>Stuff: </span><span id="StuffReceived"></span></br>
		</div>
	
</body>
</html>
