<h1>This is the list of completed workouts.</h1>
<form method="post">
  <input type="text" name="name" id="toDoName">Task <br>
  <input type="submit" name="Add Item" value="Add Item">
</form>

<form>
		<fieldset>
			<legend>Send stuff to HttpBinPost.org/post</legend>
			<label for = "ZIP">stuff</label>
			<input type="text" name="stuff" id="textStuff">
			<input type="submit" id="submitStuff">
		</fieldset>	
</form>
		
	<div>
		<h2>The Stuff they sent back</h2>
	   <span>Stuff: </span><span id="StuffReceived"></span></br>
	</div>
	
