<h1>Workout Tracker</h1>
<form>
		<fieldset>
			<legend>What workouts have you completed?</legend>
			<!--Name-->
			<input type="text" name="name" id="name">
			<label for = "name">Exercise Name: </label>
			</br>
			<!--Reps-->
			<label for = "reps">Reps: </label>
			<input type="text" name="reps" id="reps">
			</br>
			<!--Weight-->
			<label for = "weight">Weight: </label>
			<input type="text" name="weight" id="weight">
			</br>
			<!--Date-->
			<label for = "date">Date: </label>
			<input type="text" name="date" id="date">
			</br>
			
			<!--Submit button-->	
			<input type="submit" id="exSubmit">
		</fieldset>
			
</form>
