<h1>Update an Exercise</h1>
<form>
		<fieldset>
			<legend>What would you like to update?</legend>
			<!--Name-->
			<input type="text" name="name" id="name">
			<label for = "name">Exercise Name</label>
			</br>
			<!--Reps-->
			<input type="text" name="reps" id="reps">
			<label for = "reps">Reps</label>
			</br>
			<!--Weight-->
			<input type="text" name="weight" id="weight">
			<label for = "weight">Weight</label>
			</br>
			<!--Date-->
			<input type="text" name="date" id="date" placeholder="YYYY/MM/DD">
			<label for = "date">Date</label>
			</br>
			<!--lbs (units)-->
			<input type="radio" name="units" value= 1 >lbs<br>
			<input type="radio" name="units" value= 0 >kilos<br>
		
			
			<!--Submit button-->	
			<!-- <input type="submit" id="updateSubmit"> -->
			<button id="updateSubmit" type="submit">Add Exercise</button>
		</fieldset>
			
</form>
